.update-div {
    padding-left: 6px;
    padding-right: 12px;
    margin-bottom: 12px;
    margin-top: 6px;
    /*background: #ebf2fa;*/
}
button {
    --mdc-theme-primary: #073042;
    width: 100%;
    background: white;
}
body {
    /*background: #ebf2fa;*/
}

